* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.6rem;
    color: #333;
}

.search-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ccc;
    font-size: 16px;
    min-width: 0;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s ease;
    white-space: nowrap;
}

button:hover {
    background-color: #388e3c;
}

.weather-info p{
    margin: 8px 0;
    font-size: 18px;
    color: #333;
}

.loading {
    text-align: center;
    font-weight: bold;
    color: #333;
}

.error {
    color: red;
    text-align: center;
    font-weight: bold;
}

.weather-card {
    text-align: center;
}

.weather-card img {
    width: 80px;
    height: 80px;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.forecast-card {
    background: #d3d2d2;
    padding: 10px;
    border-radius: 8px;
    flex: 1;
    text-align: center;
    min-width: 100px;
    margin-bottom: 10px;
}

.forecast-card img {
    width: 50px;
    height: 50px;
}

@media (max-width: 440px) {
    .forecast-container {
        flex-direction: column;
        align-items: center;
    }

    .forecast-card {
        width: 90%;
    }
}

@media (max-width: 360px) {
    .search-box {
        flex-direction: column;
    }

    input, button {
        width: 100%;
        font-size: 14px;
    }

    h1 {
        font-size: 1.2rem;
    }
}
/*
@media (max-width: 190px) {
    input, button {
        font-size: 12px;
        padding: 8px;
    }

    .weather-card img {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 1rem;
    }
}*/
